<h1 class="container"><%= @job.title%></h1>
<p class="container"><%= @job.description %></p>
<div class="text-center">
  <%= link_to("Apply",new_job_resume_path(@job),class: "btn btn-xs btn-primary",style: "font-size: 25px;")%>
</div>
