
<div class="jumbotron text-center">
    <h1 class="title">My life,my call</h1>
    <p class="slogan"><strong>find the job you truely love here <strong></p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Lean in</a></p>
</div>
<br><br><br>
<div class="row bg-3 text-center">
    <div class="container-fluid">
        <div class="col-sm-4">
            <h4 class="text-uppercase">
                <strong>Professional Identity</strong>
            </h4>
            <img src="https://ooo.0o0.ooo/2017/01/16/587ca89ce1914.png" alt="hand-shake (1).png" title="hand-shake (1).png"/>

            <p class="lead">Build your professional identity online and stay connected with opportunities.</p>
        </div>
        <div class="col-sm-4">
         <h4 class="text-uppercase">
               <strong>Your Personal Page</strong>
            </h4>
            <img src="https://ooo.0o0.ooo/2017/01/16/587ca9332744e.png" alt="idea.png" title="idea.png"/>
            <p class="lead">Log in to your personal page and view jobs that match you.</p>
        </div>
        <div class="col-sm-4">
            <h4 class="text-uppercase">
                <strong>Richer Job Ads</strong>
            </h4>
            <img src="https://ooo.0o0.ooo/2017/01/16/587ca93340ac5.png" alt="team.png" title="team.png"/>
            <p class="lead">Get Salary Matching, Location Map and Company Insights.</p>
        </div>
    </div>
</div>
</div>
<br><br><br><br>
