<h3 class="container">Applying Job for Human Resources:</h3>
<hr>
<%= simple_form_for [@job,@resume] do |f| %>
<div class="container">
<%= f.input :content,input_html: { class: "form-control"} %>
<%= f.input :attachment %>
<%= f.submit "送出" %>
</div>
<% end %>
