<!-- /*<style>
    .a {
        margin-bottom: 0;
        background-color: #2f2f2f;
        color: #ffffff;
        margin-top:-100px;
    }

</style>
<body>
<div class="content background-color:#212121">
  <p class="text-center">Copyright ©2016 Rails101
    <br>Design by xieyanlin
  </div>
   <footer class="footer"></footer>*/ -->
<body>
   <div id="footer">
     <p class="text-center row">
       <br>
       Copyright ©2017 Rails101
     <br>Design by xieyanlin</div>
</div>
</body>
